{{!-- card for each user's posts with EDIT and DELETE icons --}}
<section>
  <a href="/posts/{{id}}">
    <header>
        <h3>{{title}}</h3>
        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
    </header>
    <div>
      <p>{{text}}</p>
    </div>
  
    {{!-- <div>
        <button id="edit-post" class="btn-no-style">Edit</button>
        <button id="delete-post" class="btn-no-style">Delete</button>
    </div> --}}

  </a>
</section>
